/node_modules                                                                                                                                        
# misc                                                                                                                                               
config.json                                                                                                                                          
database.sqlite                                                                                                                                      
.eslintrc.json                                                                                                                                       
package-lock.json
